:root {
  /* Colors */
  --color-primary: #431407;
  --color-secondary: #d8b4fe;
  --color-accent-1: #431407;
  --color-accent-2: #d8b4fe;
  --color-accent-3: #fff0df;
  --color-accent-4: #f5e5d5;
  --color-accent-5: #fffaf4;

  --color-neutral-1: #292524;
  --color-neutral-2: #1c1917;
  --color-neutral-3: #000000;
  --color-neutral-4: #d6d3d1;
  --color-neutral-5: #57534e;

  /* Typography */
  --font-primary: SF Pro;
  --font-secondary: SF Soft Time;

  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;

  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;
  --font-weight-4: 700;
  --font-weight-5: 800;

  /* Spacing */
  --space-0: 0px;
  --space-1: 0.5px;
  --space-2: 1px;
  --space-3: 2px;
  --space-4: 3px;
  --space-5: 4px;
  --space-6: 6px;
  --space-7: 8px;
  --space-8: 12px;
  --space-9: 16px;
  --space-10: 24px;
  --space-11: 32px;
  --space-12: 48px;
  --space-13: 64px;

  /* Effects */
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(67, 20, 7, 0.25) 0px 20px 25px -5px, rgba(67, 20, 7, 0.25) 0px 8px 10px -6px;
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  --radius: 12px;
  --border: 0px solid rgb(229, 231, 235);
}
